  #about-main {
    counter-reset: category;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-content-headline-description-category {
    counter-increment: category;
  }

  .experience-content-video-container {
    overflow: hidden;
  }
  
  
  .about-content-headline-description-category div::before {
    content: "(0" counter(category) ") ";
  }

  .about-content-headline-description-category:nth-child(n+10) > .div::before {
    content: "(" counter(category) ") ";
  }