.hide {
  opacity: 1 !important;
}


#glcanvas {
  width: 100vw;
  height: 100vh;
}

.progressive-blur-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.progressive-blur-container>.blur-filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.progressive-blur-container>.blur-filter:nth-child(1) {
  backdrop-filter: blur(32px);
  mask: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 00%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 40%);
}

.progressive-blur-container>.blur-filter:nth-child(2) {
  backdrop-filter: blur(16px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 50%);
}

.progressive-blur-container>.blur-filter:nth-child(3) {
  backdrop-filter: blur(8px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 60%);
}

.progressive-blur-container>.blur-filter:nth-child(4) {
  backdrop-filter: blur(4px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
}

.progressive-blur-container>.blur-filter:nth-child(5) {
  backdrop-filter: blur(2px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 90%);
}

.progressive-blur-container>.blur-filter:nth-child(6) {
  backdrop-filter: blur(1px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
}

.progressive-blur-container>.blur-filter:nth-child(7) {
  z-index: 10;
  backdrop-filter: blur(0px);
  mask: linear-gradient(rgba(0, 0, 0, 0) 00%, rgba(0, 0, 0, 1) 100%)
}


.sticky_container {
  contain: layout;
}




#dj-music-direction,
#lightning-fx,
#sound-systems,
#mc-hosting
 {
  filter: url('#goo');
}

#dj-music-direction:before {
  content: "01 DJ MUSIC DIRECTION";
  padding: 0.875rem 1.25rem 1.25rem 1.25rem;
  width: calc(25vw - 2.5rem);
  font-variation-settings: "wght" 350, "wdth" 75;
  text-transform: uppercase;
  font-family: Martian Mono, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1;
  display: flex;
  position: absolute;
  top: -3rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: var(--gray-1);
  border: 1px solid var(--gray-1);
} 

#mc-hosting:before {
  content: "02 MC & HOSTING";
  padding: 0.875rem 1.25rem 1.25rem 1.25rem;
  width: calc(25vw - 2.5rem);
  margin-left: 25vw;
  font-variation-settings: "wght" 350, "wdth" 75;
  text-transform: uppercase;
  font-family: Martian Mono, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1;
  display: flex;
  position: absolute;
  top: -3rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: var(--pink);
  border: 1px solid var(--pink);
} 


#sound-systems:before {
  content: "03 SOUND SYSTEMS";
  padding: 0.875rem 1.25rem 1.25rem 1.25rem;
  width: calc(25vw - 2.5rem);
  margin-left: 50vw;
  font-variation-settings: "wght" 350, "wdth" 75;
  text-transform: uppercase;
  font-family: Martian Mono, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1;
  display: flex;
  position: absolute;
  top: -3rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: var(--blue);
  border: 1px solid var(--blue);
} 


#lightning-fx:before {
  content: "04 LIGHTING & FX PRODUCTION";
  padding: 0.875rem 1.25rem 1.25rem 1.25rem;
  width: calc(25vw - 2.5rem);
  margin-left: 75vw;
  font-variation-settings: "wght" 350, "wdth" 75;
  text-transform: uppercase;
  font-family: Martian Mono, Arial, sans-serif;
  font-size: .875rem;
  line-height: 1;
  display: flex;
  position: absolute;
  top: -3rem;
  clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
  background: var(--black-2);
  border: 1px solid var(--black-2);
  color: var(--gray-1);
} 

/*3D Cylindrical Slider*/

.event_archive-banner {
	position: relative;
	perspective: 75vw;
	width: 100%;
	height: 100vh;
	transform-style: preserve-3d;
}

.event_archive-slider {
	--quantity: 9;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform-origin: center;
  /*animation: simpleRun 200s linear infinite;*/
}

@keyframes autoRun {
	0% {
		transform: rotateX(-35deg) rotateZ(-15deg) rotateY(0deg);
	}
	100% {
		transform: rotateX(-35deg) rotateZ(-15deg) rotateY(360deg);
	}
}

@keyframes simpleRun {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}



.event_archive-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.event_archive-content_text {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) translateZ(0vw);
}


.event_archive-item:nth-child(1) {
  --position: 1;
}

.event_archive-item:nth-child(2) {
  --position: 2;
}

.event_archive-item:nth-child(3) {
  --position: 3;
}

.event_archive-item:nth-child(4) {
  --position: 4;
}

.event_archive-item:nth-child(5) {
  --position: 5;
}

.event_archive-item:nth-child(6) {
  --position: 6;
}

.event_archive-item:nth-child(7) {
  --position: 7;
}

.event_archive-item:nth-child(8) {
  --position: 8;
}

.event_archive-item:nth-child(9) {
  --position: 9 ;
}

.event_archive-item {
  --zTranslation: 15vw;
	position: absolute;
	top: calc(50% - 6vw);
	left: calc(50% - 5vw);
	width: 10vw;
	height: 12vw;
	backface-visibility: visible;
	border-radius: 0.75rem;
	overflow: hidden;
	transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(var(--zTranslation));
}